In [1]:
df=pd.read_excel('counts na dropped1.xlsx')

In [2]:
df

,SYMBOL,ENTREZID,F_IgE_S3,F_unstim_S4,M_IgE_S1,M_unstim_S2,F_IgE_S8,F_unstim_S9,M_IgE_S6,M_unstim_S7,...,2Mi,2Mu,1F_iu,1M_iu,1MFi,1MFu,2F_iu,2M_iu,2MFi,2MFu
0,Gnai3,14679,7469,6485,5562,5949,12604,15952,13806,14898,...,13.753112,13.862928,0.203779,-0.097027,-0.425245,-0.124439,-0.339832,-0.109816,0.131404,-0.098612
1,Cdc45,12544,92,303,141,323,134,108,94,140,...,6.569856,7.139551,-1.708769,-1.190103,0.610588,0.091922,0.308631,-0.569696,-0.506960,0.371367
2,H19,14955,0,0,0,0,2,0,0,2,...,0.000000,1.584963,0.000000,0.000000,0.000000,0.000000,1.584963,-1.584963,-1.584963,1.584963
3,Apoh,11818,2,4,4,0,17,18,10,15,...,3.459432,4.000000,-0.736966,2.321928,0.736966,-2.321928,-0.078003,-0.540568,-0.710493,-0.247928
4,Narf,67608,853,1280,630,744,1174,2405,1952,2106,...,10.931476,11.040975,-0.584963,-0.239600,-0.436596,-0.781958,-1.033976,-0.109498,0.733031,-0.191446
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16317,4930412F12Rik,74849,18,28,8,2,89,167,57,128,...,5.857981,7.011227,-0.610053,1.584963,-1.078003,-3.273018,-0.900464,-1.153246,-0.633872,-0.381090
16318,1600027J07Rik,69794,0,0,0,0,0,2,1,0,...,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-1.584963,1.000000,1.000000,-1.584963
16319,A030001D20Rik,100126243,2,2,0,0,1,4,3,2,...,2.000000,1.584963,0.000000,0.000000,-1.584963,-1.584963,-1.321928,0.415037,1.000000,-0.736966
16320,Rnf223,100045778,0,5,0,0,3,14,4,27,...,2.321928,4.807355,-2.584963,0.000000,0.000000,-2.584963,-1.906891,-2.485427,0.321928,0.900464
16321,1700012D14Rik,75479,31,57,20,14,77,139,94,136,...,6.569856,7.098032,-0.857981,0.485427,-0.607683,-1.951090,-0.843881,-0.528176,0.284453,-0.031251

In [17]:
df1=df.loc[(abs(df['1MFi'] - df['2MFi']) < 0.05) & (abs(df['1MFu'] - df['2MFu']) < 0.05) & (df['2MFu'] != 0.0 )]

In [18]:
df1.to_excel('210310 common patterns in rnaseq.xlsx', index=False)