In [ ]:
df = pd.read_excel('210331 rnaseq1 all pairwise LFC combined.xlsx')

In [ ]:
df1 = df

In [4]:
df1

         Gene Symbol  Log2 Fold Change
0              Actn1     -9.435412e-01
1            Filip1l     -9.485069e-01
2              Ccl17      9.343369e-01
3             Sh3tc1     -9.091690e-01
4              Mylk3      9.350428e-01
...              ...               ...
14935          Wdr78     -1.075562e-08
14936         Adam22     -1.075562e-08
14937  C130050O18Rik     -1.075562e-08
14938        Ccdc125     -1.075562e-08
14939        Gm14322     -1.075562e-08

[14940 rows x 2 columns]

In [ ]:
df1.nlargest(20, df1[["M IgE/unstim LFC"]], keep='all')['Entrez']

In [3]:
df1 = pd.read_excel("F_IgE_vs_M_IgE_Differential_Expression.xlsx")[['Gene Symbol', 'Log2 Fold Change']].dropna()
df2 = pd.read_excel("F_Unstim_vs_F_IgE_Differential_Expression.xlsx")[['Gene Symbol', 'Log2 Fold Change']].dropna()
df3 = pd.read_excel("F_Unstim_vs_M_Unstim_Differential_Expression.xlsx")[['Gene Symbol', 'Log2 Fold Change']].dropna()
df4 = pd.read_excel("M_Unstim_vs_M_IgE_Differential_Expression.xlsx")[['Gene Symbol', 'Log2 Fold Change']].dropna()

In [5]:
df1.columns = ['Gene', 'M/F IgE LFC']
df2.columns = ['Gene', 'F IgE/unstim LFC']
df3.columns = ['Gene', 'M/F unstim LFC']
df4.columns = ['Gene', 'M IgE/unstim LFC']

In [6]:
rawmerged = pd.merge(left=df4, right=df3, left_on='Gene', right_on='Gene')
rawmerged = pd.merge(left=rawmerged, right=df2, left_on='Gene', right_on='Gene')
rawmerged = pd.merge(left=rawmerged, right=df1, left_on='Gene', right_on='Gene')

In [7]:
rawmerged

,Gene,M IgE/unstim LFC,M/F unstim LFC,F IgE/unstim LFC,M/F IgE LFC
0,Txk,-1.810626,0.822464,-1.000896,-0.571634
1,Hdc,1.797671,0.093676,0.776108,-0.717750
2,Ms4a2,-1.797015,0.214115,-1.519999,-0.136258
3,Cxcl12,-1.803801,1.117030,-0.584162,0.797471
4,Piezo1,1.849158,-1.432507,1.388383,-0.754108
...,...,...,...,...,...
14148,Gm19589,-0.005559,0.031907,0.323625,-0.094668
14149,1700001G17Rik,-0.005559,0.097783,0.257551,-0.048281
14150,Gm4961,-0.005559,-0.036854,0.185206,-0.094668
14151,Mir7116,-0.005559,0.031907,-0.134706,0.061561
14152,Mir191,-0.005559,-0.036854,0.042154,-0.048281

In [8]:
rawmerged.to_excel('210419 rnaseq1 all pairwise LFC combined.xlsx', index=False)

In [9]:
df1=rawmerged

In [13]:
df1.nlargest(50, df1[['M IgE/unstim LFC']], keep='all')['Gene']

4             Piezo1
9              Fads3
25             Frmd6
13             Tmtc2
43              Relb
34     C430002N11Rik
1                Hdc
8             Tspan5
60             Lamc2
30            Nfkbid
6             Pcyt1a
26            Lclat1
73           Adamts9
14              Nsmf
75            Prss35
79              Il7r
7              Lama5
23            Sema4b
89            Ttll11
22              Plk3
12               Fyn
17            Chst11
16              Cdh2
24          Itpripl2
116            Scn1b
119            Mtmr7
39             Tor3a
127             Cd81
53               Xdh
137            Cxcr5
37              Vsir
36             Cadm3
42             Ephx2
38               Mmd
133           Gimap3
148          Tnfaip2
45           Tnfsf14
158            Flrt3
49              Tgm2
46             Itgav
135             Gpt2
150            Zap70
140            Eda2r
104            Hipk2
113             Hip1
56             Elmo1
177        Rab11fip5
151            Clic4
59            Dnajc1
167            Scn7a
Name: Gene, dtype: object

In [19]:
df=pd.DataFrame()

In [20]:
for i in range(1,5):
    df[df1.columns[i]+'>']=df1.nlargest(500, df1.columns[i], keep='all')['Gene'].reset_index(drop=True)
    df[df1.columns[i]+'<']=df1.nsmallest(500, df1.columns[i], keep='all')['Gene'].reset_index(drop=True)

In [21]:
df.to_excel('210419 rnaseq1 top100 all genes.xlsx', index=False)

In [22]:
df

,M IgE/unstim LFC>,M IgE/unstim LFC<,M/F unstim LFC>,M/F unstim LFC<,F IgE/unstim LFC>,F IgE/unstim LFC<,M/F IgE LFC>,M/F IgE LFC<
0,Piezo1,Grm5,Arl11,Spred3,Vmn2r97,Psmb9,Hck,Filip1l
1,Fads3,Txk,Cyp4v3,Pla2g7,Il1b,Igf1r,Mylk3,Actn1
2,Frmd6,St6galnac5,Trim30a,Pkp1,Fam107b,Slc30a2,Ccl17,Igsf3
3,Tmtc2,Cxcl12,Ccl6,St8sia1,Ttc39c,Hs3st3a1,Rab11fip5,Galk1
4,Relb,Pstpip2,Ccl9,Sema3e,Adamtsl1,Cyp4a12a,Gna15,Col5a3
...,...,...,...,...,...,...,...,...
495,Slc51a,B230118H07Rik,2410015M20Rik,Gys1,G530011O06Rik,AI504432,Timp3,Dgka
496,Polr3d,Phyh,Acot9,Tmem94,Unc13b,Brca2,Cstf2,Pfkl
497,Mex3b,Usp3,Gemin7,Clcn6,Galnt18,Haus1,Mcm10,Slc12a7
498,Rhbdf1,Alox8,Tspo,Cystm1,Tex30,Birc5,Rpp38,Tnks
499,Man1a,Klra2,1700123O20Rik,Dqx1,Asrgl1,Selenbp1,Fam129a,Hmgn3

In [23]:
IgE_over_unstim = pd.Index(df['M IgE/unstim LFC>']).intersection(pd.Index(df['F IgE/unstim LFC>'])).to_frame(index=False, name='IgE>unstim').dropna()
unstim_over_IgE = pd.Index(df['M IgE/unstim LFC<']).intersection(pd.Index(df['F IgE/unstim LFC<'])).to_frame(index=False, name='IgE<unstim').dropna()
M_over_F = pd.Index(df['M/F unstim LFC>']).intersection(pd.Index(df['M/F IgE LFC>'])).to_frame(index=False, name='M>F').dropna()
F_over_M = pd.Index(df['M/F unstim LFC<']).intersection(pd.Index(df['M/F IgE LFC<'])).to_frame(index=False, name='M<F').dropna()
intersect = pd.concat([M_over_F, F_over_M, IgE_over_unstim, unstim_over_IgE], axis=1)

In [24]:
unstim_M_over_F = pd.Index(df['M/F unstim LFC>']).difference(pd.Index(df['M/F IgE LFC>'])).to_frame(index=False, name='unstim M>F').dropna()
unstim_F_over_M = pd.Index(df['M/F unstim LFC<']).difference(pd.Index(df['M/F IgE LFC<'])).to_frame(index=False, name='unstim M<F').dropna()
ige_M_over_F = pd.Index(df['M/F IgE LFC>']).difference(pd.Index(df['M/F unstim LFC>'])).to_frame(index=False, name='IgE M>F').dropna()
ige_F_over_M = pd.Index(df['M/F IgE LFC<']).difference(pd.Index(df['M/F unstim LFC<'])).to_frame(index=False, name='IgE M<F').dropna()
M_unstim_over_IgE = pd.Index(df['M IgE/unstim LFC>']).difference(pd.Index(df['F IgE/unstim LFC>'])).to_frame(index=False, name='M IgE>unstim').dropna()
M_IgE_over_unstim = pd.Index(df['M IgE/unstim LFC<']).difference(pd.Index(df['F IgE/unstim LFC<'])).to_frame(index=False, name='M IgE<unstim').dropna()
F_unstim_over_IgE = pd.Index(df['F IgE/unstim LFC>']).difference(pd.Index(df['M IgE/unstim LFC>'])).to_frame(index=False, name='F IgE>unstim').dropna()
F_IgE_over_unstim = pd.Index(df['F IgE/unstim LFC<']).difference(pd.Index(df['M IgE/unstim LFC<'])).to_frame(index=False, name='F IgE<unstim').dropna()
complements = pd.concat([unstim_M_over_F, unstim_F_over_M, ige_M_over_F, ige_F_over_M, M_unstim_over_IgE, M_IgE_over_unstim, F_unstim_over_IgE, F_IgE_over_unstim], axis=1)

In [25]:
overlaps= pd.concat([intersect, complements], axis=1)

In [26]:
overlaps

,M>F,M<F,IgE>unstim,IgE<unstim,unstim M>F,unstim M<F,IgE M>F,IgE M<F,M IgE>unstim,M IgE<unstim,F IgE>unstim,F IgE<unstim
0,Cyp4v3,Spred3,Piezo1,St6galnac5,0610009B22Rik,1700071M16Rik,0610007P14Rik,1600020E01Rik,1700012B09Rik,3010026O09Rik,4833427F10Rik,1700012D01Rik
1,Dhrs3,Pde1b,Fads3,Pstpip2,1110004F10Rik,1810013A23Rik,Abca1,1700017B05Rik,4930455G09Rik,4930579G24Rik,4930417O13Rik,4933439K11Rik
2,Traf3ip3,Bcar3,Frmd6,Ms4a2,1110034G24Rik,2700081O15Rik,Abhd12,2810474O19Rik,9130008F23Rik,9030617O03Rik,9330159M07Rik,AI464131
3,Frmd4b,Aplp1,Tmtc2,Abcg3,1700025G04Rik,4632404H12Rik,Adgra3,4930455G09Rik,Aars,9330182O14Rik,9430020K01Rik,AI504432
4,Nhsl1,Fam160a2,Relb,Cebpa,1700071K01Rik,4833427F10Rik,Adprh,4932438A13Rik,Acsl1,A430046D13Rik,9630001P10Rik,Abat
...,...,...,...,...,...,...,...,...,...,...,...,...
379,NaN,NaN,NaN,NaN,Xrcc6bp1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
380,NaN,NaN,NaN,NaN,Zfat,NaN,NaN,NaN,NaN,NaN,NaN,NaN
381,NaN,NaN,NaN,NaN,Zfp472,NaN,NaN,NaN,NaN,NaN,NaN,NaN
382,NaN,NaN,NaN,NaN,Zfp54,NaN,NaN,NaN,NaN,NaN,NaN,NaN
383,NaN,NaN,NaN,NaN,Zfp820,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [27]:
overlaps.to_excel('210419 RNAseq1 top500 pairwise split.xlsx', index=False)